﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="AaaaadUser.aspx.cs" Inherits="AaaaadUser" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:Button ID="Button1" runat="server" Text="Add User" OnClick="Button1_Click" />
        </div>
        <div>
            <asp:Button ID="Button2" runat="server" Text="Generate PDF" Height="41px" OnClick="createpdf_Click" Width="195px" />
        </div>
    </form>
</body>
</html>
