    <div style="text-align: justify; padding: 5px 15px 5px 15px;">
    <h3 style="text-align: center">---------------------------------: Financial Agreement :--------------------------------- </h3>
    <hr />
    <p><strong>Self-Pay Sliding Fee Scale</strong></p>
    <table border="1">
        <tbody>
            <tr>
                <td style="width: 54px">
                    <p><strong>Level</strong></p>
                </td>
                <td style="width: 180px">
                    <p><strong>Annual Household Income</strong></p>
                </td>
                <td style="width: 78px">
                    <p><strong>Initial Fee</strong></p>
                </td>
                <td style="width: 108px">
                    <p><strong>Follow-up Fee</strong></p>
                </td>
                <td style="width: 84px">
                    <p><strong>Group Fee</strong></p>
                </td>
                <td style="width: 114px">
                    <p><strong>Tests &amp; Measurements</strong></p>
                </td>
            </tr>
            <tr>
                <td style="height: 16px; width: 54px; text-align: center">1<input type="checkbox" />
                </td>
                <td style="height: 16px; width: 180px">
                    <p>Below $20,000</p>
                </td>
                <td style="height: 16px; width: 78px">
                    <p>$85</p>
                </td>
                <td style="height: 16px; width: 108px">
                    <p>$75</p>
                </td>
                <td style="height: 16px; width: 84px">
                    <p>$30</p>
                </td>
                <td style="height: 16px; width: 114px">
                    <p>$99</p>
                </td>
            </tr>
            <tr>
                <td style="width: 54px; text-align: center">2<input type="checkbox" />
                </td>
                <td style="width: 180px">
                    <p>$20,000 - $35,000</p>
                </td>
                <td style="width: 78px">
                    <p>$95</p>
                </td>
                <td style="width: 108px">
                    <p>$80</p>
                </td>
                <td style="width: 84px">
                    <p>$35</p>
                </td>
                <td style="width: 114px">
                    <p>$119</p>
                </td>
            </tr>
            <tr>
                <td style="width: 54px; text-align: center">3<input type="checkbox" />
                </td>
                <td style="width: 180px">
                    <p>$36,000-$50,000</p>
                </td>
                <td style="width: 78px">
                    <p>$105</p>
                </td>
                <td style="width: 108px">
                    <p>$90</p>
                </td>
                <td style="width: 84px">
                    <p>$40</p>
                </td>
                <td style="width: 114px">
                    <p>$129</p>
                </td>
            </tr>
            <tr>
                <td style="width: 54px; text-align: center">4<input type="checkbox" />
                </td>
                <td style="width: 180px">
                    <p>$50,000 - $60,000</p>
                </td>
                <td style="width: 78px">
                    <p>$125</p>
                </td>
                <td style="width: 108px">
                    <p>$115</p>
                </td>
                <td style="width: 84px">
                    <p>$45</p>
                </td>
                <td style="width: 114px">
                    <p>$139</p>
                </td>
            </tr>
            <tr>
                <td style="width: 54px; text-align: center">5<input type="checkbox" />
                </td>
                <td style="width: 180px">
                    <p>$60,000-$70,000</p>
                </td>
                <td style="width: 78px">
                    <p>$150</p>
                </td>
                <td style="width: 108px">
                    <p>$125</p>
                </td>
                <td style="width: 84px">
                    <p>$55</p>
                </td>
                <td style="width: 114px">
                    <p>$159</p>
                </td>
            </tr>
            <tr>
                <td style="width: 54px; text-align: center">6<input type="checkbox" />
                </td>
                <td style="width: 180px">
                    <p>&gt;$70,001*</p>
                </td>
                <td style="width: 78px">
                    <p>$220</p>
                </td>
                <td style="width: 108px">
                    <p>$150</p>
                </td>
                <td style="width: 84px">
                    <p>$80</p>
                </td>
                <td style="width: 114px">
                    <p>$199</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="color: blue"><strong>*For households with income above $70,000, package rates are fixed at Level 5.</strong></p>
    <p>&nbsp;</p>
    <p><strong>Treatment Package Payment Plan</strong></p>
    <p>Package Purchased: &nbsp; {cpMainContent_txtPackagePur}</p>
    <div>
        <label>Contracted Package in the amount of ${cpMainContent_txtConAmnt}&nbsp; will be divided into</label><br />
        <br />
        <input type="radio" name="payDiv" />Weekly &nbsp;<input type="radio" name="payDiv" />Bi-Weekly &nbsp;<input type="radio" name="payDiv" />Tri-Weekly &nbsp;<input type="radio" name="payDiv" />Monthly &nbsp;
    </div>
    <p>&nbsp;</p>
    <p><strong>Payment Plan</strong></p>
    <div id="tblPymnt" runat="server">
        <table border="0">
            <tbody>
                <tr>
                    <td style="width: 72px">
                        <p><strong>Date</strong></p>
                    </td>
                    <td style="width: 72px">{cpMainContent_date1}</td>
                    <td style="width: 72px">{cpMainContent_date2}</td>
                    <td style="width: 72px">{cpMainContent_date3}</td>
                    <td style="width: 72px">{cpMainContent_date4}</td>
                    <td style="width: 72px">{cpMainContent_date5}</td>
                    <td style="width: 72px">{cpMainContent_date6}</td>
                    <td style="width: 72px">{cpMainContent_date7}</td>
                    <td style="width: 72px">{cpMainContent_date8}</td>
                    <td style="width: 72px">{cpMainContent_date9}</td>
                </tr>
                <tr>
                    <td style="width: 72px">
                        <p><strong>Amount</strong></p>
                    </td>
                    <td style="width: 72px">{cpMainContent_txtPaymentPlanAmt1}</td>
                    <td style="width: 72px">{cpMainContent_txtPaymentPlanAmt2}</td>
                    <td style="width: 72px">{cpMainContent_txtPaymentPlanAmt3}</td>
                    <td style="width: 72px">{cpMainContent_txtPaymentPlanAmt4}</td>
                    <td style="width: 72px">{cpMainContent_txtPaymentPlanAmt5}</td>
                    <td style="width: 72px">{cpMainContent_txtPaymentPlanAmt6}</td>
                    <td style="width: 72px">{cpMainContent_txtPaymentPlanAmt7}</td>
                    <td style="width: 72px">{cpMainContent_txtPaymentPlanAmt8}</td>
                    <td style="width: 72px">{cpMainContent_txtPaymentPlanAmt9}</td>
                </tr>
            </tbody>
        </table>
        <div>
            <p>&nbsp;</p>
            <p>As indicated earlier, <strong>Lifestyle </strong>requires you to keep a credit card on file. This will help us collect co-payments, deductibles and any unpaid balances. This will also help us collect any deductibles that may be added towards your treatment. (It&rsquo;s best to know your benefits before coming). It is also your responsibility to make sure your credit card does not expire and continues to stay updated.</p>
            <p>&nbsp;</p>
            <div>
                <label style="font-weight: bold">Credit Card Type:</label><br />
                <br />
                <input type="radio" name="cardType" />Visa &nbsp;
                            <input type="radio" name="cardType" />Master &nbsp;
                            <input type="radio" name="cardType" />Discover &nbsp;
                            <input type="radio" name="cardType" />American Express &nbsp; 
            </div>
            <br />
            <table border="0">
                <tr>
                    <td>Name as it appears on Card:</td>
                    <td>{cpMainContent_txtCardName}</td>
                </tr>
                <tr>
                    <td>Credit Card number:</td>
                    <td>{cpMainContent_txtCardNo}</td>
                </tr>
                <tr>
                    <td>Expiration Date:</td>
                    <td>{cpMainContent_date10}</td>
                </tr>
                <tr>
                    <td>Number:</td>
                    <td>{cpMainContent_txtCVNo} &nbsp;:(3-4 digits located on the back of the card)</td>
                </tr>
            </table>
            <p>&nbsp;</p>
            <p><strong>AUTHORIZATION FOR CORRESPONDENCE</strong></p>
            <div class="span12">
                <p>I hereby authorize Lifestyle Therapy and Coaching to contact me for purposes of canceling, rescheduling, or verifying appointments, or for any other reason effecting my treatment.</p>
                <p>You May:</p>
                <input type="checkbox" />send mail to my home<br />
                <input type="checkbox" />call me on my cell phone/leave a message on my voice mail<br />
                <input type="checkbox" />call me at home/leave a message with a family member or voice mail<br />
                <input type="checkbox" />call me at work<br />
            </div>
            <p>&nbsp;</p>
            <table border="1">
                <thead>
                    <p><strong>AUTHORIZATION TO RELEASE INFORMATION (Optional)</strong></p>
                </thead>
                <tr>
                    <td colspan="4">
                        <p><strong>INTEGRATED CARE</strong>- In order to provide Total Health &amp; Wellness we need to communicate with your primary care physician your progress in treatment with us.</p>
                        <p>I give Lifestyle Therapy &amp; Coaching my permission to communicate with &nbsp; {cpMainContent_txtIntgrtName} &nbsp; for the purpose of improving my medical care.</p>
                    </td>
                </tr>
                <tr>
                    <td style="padding-left: 1em" class="auto-style1">Address :</td>
                    <td>{cpMainContent_txtIntgrtAddr}</td>

                    <td style="width: 50px">City :</td>
                    <td>{cpMainContent_txtIntgrtCity}</td>
                </tr>
                <tr>
                    <td style="padding-left: 1em" class="auto-style1">State:</td>
                    <td>{cpMainContent_txtIntgrtState}</td>

                    <td style="width: 50px">Zip :</td>
                    <td>{cpMainContent_txtIntgrtZip}</td>
                </tr>
                <tr>
                    <td style="padding-left: 1em" class="auto-style1">Phone :</td>
                    <td>{cpMainContent_txtIntgrtPhone}</td>

                    <td style="width: 50px">Fax :</td>
                    <td>{cpMainContent_txtIntgrtFax}</td>
                </tr>
                <tr>
                    <td style="padding-left: 1em" class="auto-style1">This authorization will end:</td>
                    <td colspan="3">{cpMainContent_date15}&nbsp; (Do not enter end date if this is an enduring authorization)</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <p>I acknowledge that I have been given a copy of this document. I understand my rights as a client.</p>
                    </td>
                </tr>
            </table>
            <p>&nbsp;</p>
            <p><strong>ATTESTATION</strong></p>
            <p>I have read the above authorization and understand it. I agree to hold Lifestyle Therapy &amp; Coaching harmless for claims or damages in connection with our work together. This is a contract between myself and Lifestyle Therapy &amp; Coaching and I understand that it is also a release of potential liability.</p>
            <p>&nbsp;</p>
            <p>I acknowledge I have discussed the following with my healthcare provider:</p>
            <ol>
                <li>The condition that the treatment is to address;</li>
                <li>The nature of the treatment;</li>
                <li>The risks and benefits of that treatment; and</li>
                <li>Any alternatives to that treatment</li>
            </ol>
            <p>&nbsp;</p>
            <p>I have had the opportunity to ask questions and receive answers regarding the treatment.</p>
            <p>&nbsp;</p>
            <p>I consent to the treatments offered or recommended to me by my healthcare provider, including osseous and soft tissue manipulation. I intend this consent to apply to all my present and future care from all professionals at Lifestyle Therapy &amp; Coaching. <strong>If there happens to be any medical emergency while in treatment at Lifestyle, if there is any physical or mental incapacity on my part I give permission for clinicians and staff to act on my behalf.</strong></p>
            <p>&nbsp;</p>
            <table border="0">
                <tr>
                    <td>{cpMainContent_txtcnstAuthfor}
                                    <br />
                        Authorization for (Minor Name)</td>
                    <td>{cpMainContent_date11}
                                    <br />
                        Date of Birth</td>
                    <td></td>
                </tr>
                <tr>
                    <td>{cpMainContent_txtSignature1}
                                    <br />
                        Signature</td>
                    <td>{cpMainContent_txtClientRespName1}
                                    <br />
                        Client/Responsible Party Printed Name</td>
                    <td>{cpMainContent_date12}
                                    <br />
                        Date</td>
                </tr>
                <tr>
                    <td>{cpMainContent_txtSignature2}
                                    <br />
                        Signature</td>
                    <td>{cpMainContent_txtClientRespName2}
                                    <br />
                        Client/Responsible Party Printed Name</td>
                    <td>{cpMainContent_date13}
                                    <br />
                        Date</td>
                </tr>
                <tr>
                    <td>{cpMainContent_txtWitnessSign}<br />
                        Witness Signature </td>
                    <td>{cpMainContent_txtWtitnessName}<br />
                        Printed Name</td>
                    <td>{cpMainContent_date13}<br />
                        Date</td>
                </tr>
            </table>
            <p>&nbsp;</p>
            <p><strong>Referrals &ndash;</strong>We are seeking to grow our practice. If you believe our services might benefit a family member or friend would you be so kind to share their contact information so we can let them know you referred us. Please take a moment to comment on our services online at <a href="https://www.google.com/search?q=lifestyle+therapy+and+coaching+reviews&amp;oq=lifestyle+therapy+and+coaching+reviews&amp;aqs=chrome..69i57j69i64.12064j0j4&amp;sourceid=chrome&amp;espv=210&amp;es_sm=122&amp;ie=UTF-8%23q=lifestyle+therapy+and+coaching&amp;safe=active&amp;lrd=lrd%20"><strong>Review Lifestyle Therapy &amp; Coaching</strong></a><strong>.&nbsp; </strong>We are grateful for your kind words.</p>
            <div id="referalInfo" runat="server">
                <table border="0">
                    <tr>
                        <td>Name
                        </td>
                        <td>Email
                        </td>
                        <td>CellPhone
                        </td>
                    </tr>
                    <tr>
                        <td>{cpMainContent_txtRefName1}</td>
                        <td>{cpMainContent_txtRefEmail1}</td>
                        <td>{cpMainContent_txtRefPhn1}</td>
                    </tr>
                    <tr>
                        <td>{cpMainContent_txtRefName2}</td>
                        <td>{cpMainContent_txtRefEmail2}</td>
                        <td>{cpMainContent_txtRefPhn2}</td>
                    </tr>
                    <tr>
                        <td>{cpMainContent_txtRefName3}</td>
                        <td>{cpMainContent_txtRefEmail3}</td>
                        <td>{cpMainContent_txtRefPhn3}</td>
                    </tr>
                    <tr>
                        <td>{cpMainContent_txtRefName4}</td>
                        <td>{cpMainContent_txtRefEmail4}</td>
                        <td>{cpMainContent_txtRefPhn4}</td>
                    </tr>
                    <tr>
                        <td>{cpMainContent_txtRefName5}</td>
                        <td>{cpMainContent_txtRefEmail5}</td>
                        <td>{cpMainContent_txtRefPhn5}</td>
                    </tr>
                </table>
            </div>
            <p>&nbsp;</p>
        </div>
    </div>
</div>


