﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Login.master.cs" Inherits="Login" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Sizzling Hot Practis Admin Home</title>
    <noscript>
        <div class="alert alert-block span10">
            <h4 class="alert-heading">
                Warning!</h4>
            <p>
                You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
                enabled to use this site.</p>
        </div>
    </noscript>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Apple devices fullscreen -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Apple devices fullscreen -->
    <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <!-- Bootstrap responsive -->
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
    <!-- jQuery UI -->
    <link rel="stylesheet" href="css/plugins/jquery-ui/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="css/plugins/jquery-ui/smoothness/jquery.ui.theme.css" />
    <!-- PageGuide -->
    <link rel="stylesheet" href="css/plugins/pageguide/pageguide.css" />
    <!-- chosen -->
    <link rel="stylesheet" href="css/plugins/chosen/chosen.css" />
    <!-- select2 -->
    <link rel="stylesheet" href="css/plugins/select2/select2.css" />


    <!-- Fullcalendar -->
    <link rel="stylesheet" href="css/plugins/fullcalendar/fullcalendar.css" />
    <link rel="stylesheet" href="css/plugins/fullcalendar/fullcalendar.print.css" media="print" />
    <!-- Tagsinput -->
    <link rel="stylesheet" href="css/plugins/tagsinput/jquery.tagsinput.css" />
    <!-- multi select -->
    <link rel="stylesheet" href="css/plugins/multiselect/multi-select.css" />
    <!-- timepicker -->
    <link rel="stylesheet" href="css/plugins/timepicker/bootstrap-timepicker.min.css" />
    <!-- colorpicker -->
    <link rel="stylesheet" href="css/plugins/colorpicker/colorpicker.css" />
    <!-- Datepicker -->
    <link rel="stylesheet" href="css/plugins/datepicker/datepicker.css" />
    <!-- Daterangepicker -->
    <link rel="stylesheet" href="css/plugins/daterangepicker/daterangepicker.css" />
    <!-- Plupload -->
    <link rel="stylesheet" href="css/plugins/plupload/jquery.plupload.queue.css" />

    <!-- icheck -->
    <link rel="stylesheet" href="css/plugins/icheck/all.css" />
    <!-- Theme CSS -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- Color CSS -->
    <link rel="stylesheet" href="css/themes.css" />
    <link href="css/mystyle.css" rel="stylesheet" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div id="dvHeader" style="min-height: 105px; width: 100%;">
            <div style="margin: 0 auto; width: 1160px; min-height: 105px; background-color: #368EE0;">
                <div style="padding: 10px; color: white;">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="span7">
                                <img src='<%= Page.ResolveClientUrl("~/img/logo-Lifestyle-ChiroCare-HYFB.png") %>' width="285px" >
                            </div>
                            <div class="span5">
                                <div>
                                    <a href='<%= Page.ResolveClientUrl("~/Default.aspx") %>' style="color: white;"><i class="icon-home"></i>&nbsp;Home</a> &nbsp;&nbsp;
                                    <a href='<%= Page.ResolveClientUrl("~/SiteMap.aspx") %>' style="color: white;"><i class="icon-sitemap"></i>&nbsp;Sitemap</a>&nbsp;&nbsp;
                                    <a href='<%= Page.ResolveClientUrl("~/ContactUS.aspx") %>' style="color: white;"><i class="icon-phone-sign"></i>&nbsp;Contact Us</a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="https://www.facebook.com/pages/Lifestyle-Therapy-and-Coaching/176976352335408" target="_blank" style="color: white;"><i class="icon-facebook"></i>&nbsp;Facebook</a>&nbsp;&nbsp;
                                    <a href="https://twitter.com/myfreedomcoach" target="_blank" style="color: white;"><i class="icon-twitter"></i>&nbsp;Tweeter</a>
                                </div>
                                <div style="text-align: right;">
                                    <a href="#" style="color: white;"><i class="icon-calendar"></i>&nbsp;Make Appoitment</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="dvHeaderMenu">
            <div id="navigation" style="background-color: #0072D6;">
                <div style="margin: 0 auto; width: 1160px;">
                    <div class="container-fluid">
                        <ul class='main-nav'>
                            <li>
                                <a href='<%= Page.ResolveClientUrl("~/Default.aspx") %>'>
                                    <span>Home</span>
                                </a>
                            </li>
                            <li>
                                <a href="AboutUs.aspx" data-toggle="dropdown" class='dropdown-toggle'>
                                    <span>About US</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href='<%= Page.ResolveClientUrl("~/AboutUs.aspx") %>'>About Us</a></li>
                                    <li><a href='<%= Page.ResolveClientUrl("~/OurTherapists.aspx") %>'>Our Therapists</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href='<%= Page.ResolveClientUrl("~/Philosophy.aspx") %>' class='dropdown-toggle'>
                                    <span>Our Philosophy</span>
                                </a>
                            </li>
                            <li>
                                <a href='<%= Page.ResolveClientUrl("~/OurServices.aspx") %>' class='dropdown-toggle'>
                                    <span>Our Services</span>
                                </a>
                            </li>
                            <li>
                                <a href='<%= Page.ResolveClientUrl("~/Resources.aspx") %>'>
                                    <span>Resources</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" data-toggle="dropdown" class='dropdown-toggle'>
                                    <span>Contact Us</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href='<%= Page.ResolveClientUrl("~/ContactUS.aspx") %>'>Contact Us</a></li>
                                    <li><a href='<%= Page.ResolveClientUrl("~/FAQ.aspx") %>'>FAQ</a></li>
                                    <li><a href='<%= Page.ResolveClientUrl("~/SiteMap.aspx") %>'>Site Map</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="dvMainContent">
            <%--class="shadow_left_right"--%>
            <div style="margin: 0 auto; width: 1160px; min-height: 400px; background-color: white;">
                <div style="margin: 0 10px;">
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                    </asp:ContentPlaceHolder>
                    <br />
                </div>
            </div>
        </div>
        <div id="dvFooter" class="dvbottombackgound" style="min-height: 205px; width: 100%;">
            <div style="margin: 0 10px;">
                <div class="row-fluid">
                    <div class="span12">
                        <h6 style="color: white;">© 2010-2011 JC Enterprise Group, Inc. All Rights Reserved.</h6>
                    </div>
                </div>
            </div>
            <div style="margin: 0 auto; width: 1160px; min-height: 205px;">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="span4">
                            <p>
                                <ul class="nav nav-list">
                                    <li class="nav-header">Home</li>
                                    <li><a href='<%= Page.ResolveClientUrl("~/AboutUs.aspx") %>'>About us</a></li>
                                    <li><a href='<%= Page.ResolveClientUrl("~/Philosophy.aspx") %>'>Our Philosophy</a></li>
                                    <li><a href='<%= Page.ResolveClientUrl("~/OurServices.aspx") %>'>Our Services</a></li>
                                    <li><a href='<%= Page.ResolveClientUrl("~/Resources.aspx") %>'>Resources</a></li>
                                    <li><a href='<%= Page.ResolveClientUrl("~/ContactUS.aspx") %>'>Contact US</a></li>
                                    <li><a href='<%= Page.ResolveClientUrl("~/SiteMap.aspx") %>'>Site Map</a></li>
                                    <li><a href='<%= Page.ResolveClientUrl("~/FAQ.aspx") %>'>FAQ</a></li>
                                    <li class="nav-header">Other Links</li>
                                    <li><a href="http://www.sizzlinghotmarriage.com/blog/">Blog</a></li>
                                    <li><a href='<%= Page.ResolveClientUrl("~/testimonials.aspx") %>'>Testiminonials</a></li>
                                    <li><a href='<%= Page.ResolveClientUrl("~/groups.aspx") %>'>Group</a></li>
                                    <li><a href="http://www.sizzlinghotmarriage.com/shm/positions.asp">Positions</a></li>
                                </ul>
                            </p>
                        </div>
                        <div class="span4">
                            <div style="color: white;">
                                <h4>
                                    <i class="icon-phone"></i>
                                    Contact US
                                </h4>
                                <address>
                                    <strong>Lifestyle Therapy and Coaching</strong>
                                    <br>
                                    4801 University Square NW Suite 13
										<br>
                                    Huntsville, AL 35816
										<br>
                                    <abbr title="Phone">Phone:</abbr>
                                    1-256-850-4426
                                        <abbr title="Fax">Fax:</abbr>
                                    1-925-522-4887
                                </address>
                                <address>
                                    <strong>Mail To</strong>
                                    <br>
                                    <a href="mailto:#">admin@lifestyletherapycoach.com</a>
                                </address>
                            </div>
                            <img src='<%= Page.ResolveClientUrl("~/img/CallNow.png") %>' width="200px" height="200px" />
                        </div>
                        <div class="span4">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- jQuery -->
    <script src='<%= Page.ResolveClientUrl("~/js/jquery.min.js") %>'></script>
    <!-- Nice Scroll -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/nicescroll/jquery.nicescroll.min.js") %>'></script>
    <!-- jQuery UI -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/jquery-ui/jquery.ui.core.min.js") %>'></script>
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/jquery-ui/jquery.ui.widget.min.js") %>'></script>
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/jquery-ui/jquery.ui.mouse.min.js") %>'></script>
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/jquery-ui/jquery.ui.draggable.min.js") %>'></script>
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/jquery-ui/jquery.ui.resizable.min.js") %>'></script>
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/jquery-ui/jquery.ui.sortable.min.js") %>'></script>
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/jquery-ui/jquery.ui.spinner.js") %>'></script>
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/jquery-ui/jquery.ui.slider.js") %>'></script>
    <!-- Touch enable for jquery UI -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/touch-punch/jquery.touch-punch.min.js") %>'></script>
    <!-- slimScroll -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/slimscroll/jquery.slimscroll.min.js") %>'></script>
    <!-- Bootstrap -->
    <script src='<%= Page.ResolveClientUrl("~/js/bootstrap.min.js") %>'></script>
    <!-- vmap -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/vmap/jquery.vmap.min.js") %>'></script>
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/vmap/jquery.vmap.world.js") %>'></script>
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/vmap/jquery.vmap.sampledata.js") %>'></script>
    <!-- Bootbox -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/bootbox/jquery.bootbox.js") %>'></script>
    <!-- Flot -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/flot/jquery.flot.min.js") %>'></script>
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/flot/jquery.flot.bar.order.min.js") %>'></script>
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/flot/jquery.flot.pie.min.js") %>'></script>
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/flot/jquery.flot.resize.min.js") %>'></script>
    <!-- imagesLoaded -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/imagesLoaded/jquery.imagesloaded.min.js") %>'></script>
    <!-- PageGuide -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/pageguide/jquery.pageguide.js") %>'></script>
    <!-- FullCalendar -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/fullcalendar/fullcalendar.min.js") %>'></script>
    <!-- Chosen -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/chosen/chosen.jquery.min.js") %>'></script>
    <!-- select2 -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/select2/select2.min.js") %>'></script>
    <!-- icheck -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/icheck/jquery.icheck.min.js") %>'></script>
    <!-- dataTables -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/datatable/jquery.dataTables.min.js") %>'></script>
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/datatable/TableTools.min.js") %>'></script>
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/datatable/ColReorderWithResize.js") %>'></script>
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/datatable/ColVis.min.js") %>'></script>
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/datatable/jquery.dataTables.columnFilter.js") %>'></script>
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/datatable/jquery.dataTables.grouping.js") %>'></script>
    <!-- Theme framework -->
    <script src='<%= Page.ResolveClientUrl("~/js/eakroko.min.js") %>'></script>
    <!-- Theme scripts -->
    <script src='<%= Page.ResolveClientUrl("~/js/application.min.js") %>'></script>

    <!-- Masked inputs -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/maskedinput/jquery.maskedinput.min.js") %>'></script>
    <!-- TagsInput -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/tagsinput/jquery.tagsinput.min.js") %>'></script>
    <!-- FullCalendar -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/fullcalendar/fullcalendar.min.js") %>'></script>
    <!-- Datepicker -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/datepicker/bootstrap-datepicker.js") %>'></script>
    <!-- Daterangepicker -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/daterangepicker/daterangepicker.js") %>'></script>
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/daterangepicker/moment.min.js") %>'></script>
    <!-- Timepicker -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/timepicker/bootstrap-timepicker.min.js") %>'></script>
    <!-- Colorpicker -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/colorpicker/bootstrap-colorpicker.js") %>'></script>
    <!-- MultiSelect -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/multiselect/jquery.multi-select.js") %>'></script>

    <!-- CKEditor -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/ckeditor/ckeditor.js") %>'></script>
    <!-- PLUpload -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/plupload/plupload.full.js") %>'></script>
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/plupload/jquery.plupload.queue.js") %>'></script>
    <!-- Custom file upload -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/fileupload/bootstrap-fileupload.min.js") %>'></script>
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/mockjax/jquery.mockjax.js") %>'></script>
    <!-- complexify -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/complexify/jquery.complexify-banlist.min.js") %>'></script>
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/complexify/jquery.complexify.min.js") %>'></script>
    <!-- Mockjax -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/mockjax/jquery.mockjax.js") %>'></script>
    <!-- Validation -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/validation/jquery.validate.min.js") %>'></script>
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/validation/additional-methods.min.js") %>'></script>

    <asp:ContentPlaceHolder ID="PageScripts" runat="server">
    </asp:ContentPlaceHolder>
    <script type="text/javascript">
        $(function () {
            // Stick the #nav to the top of the window
            var nav = $('#dvHeaderMenu');
            var navHomeY = nav.offset().top;
            var isFixed = false;
            var $w = $(window);
            $w.scroll(function () {
                var scrollTop = $w.scrollTop();
                var shouldBeFixed = scrollTop > navHomeY;
                if (shouldBeFixed && !isFixed) {
                    nav.css({
                        position: 'fixed',
                        top: 0,
                        left: nav.offset().left,
                        width: nav.width()
                    });
                    isFixed = true;
                }
                else if (!shouldBeFixed && isFixed) {
                    nav.css({
                        position: 'static'
                    });
                    isFixed = false;
                }
            });
        });
    </script>
</body>
</html>
