﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ucAuthorization.ascx.cs" Inherits="UserControl_GeneralControl_ucAuthorization" %>
<asp:DropDownList ID="ddlauthorization" runat="server" data-rel="chosen" CssClass="select2-me input-xlarge">
</asp:DropDownList>
