﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ucBillingProviderMaster.ascx.cs" Inherits="UserControl_GeneralControl_ucBillingProviderMaster" %>
<asp:DropDownList ID="ddlBillingProvider" runat="server" data-rel="chosen" CssClass="select2-me input-xlarge">
</asp:DropDownList>

