﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ucCptcodeMaster.ascx.cs" Inherits="UserControl_GeneralControl_ucCptcodeMaster" %>

<asp:DropDownList ID="ddlCpt" runat="server" data-rel="chosen" CssClass="select2-me input-xlarge">
</asp:DropDownList>

