﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ucDignosiscodes.ascx.cs" Inherits="UserControl_GeneralControl_ucDignosiscodes" %>


<asp:DropDownList ID="ddlDignosis" runat="server" data-rel="chosen" CssClass="select2-me input-xlarge">
</asp:DropDownList>
