﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ucFacilityMaster.ascx.cs" Inherits="UserControl_GeneralControl_ucFacilityMaster" %>

<asp:DropDownList ID="ddlFacility" runat="server" DataTextField="fsl_name" DataValueField="fsl_id" data-rel="chosen" CssClass="select2-me input-xlarge">
</asp:DropDownList>
