﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ucInscMaster.ascx.cs" Inherits="UserControl_GeneralControl_ucInscMaster" %>

<asp:DropDownList ID="ddlInscC" runat="server" DataTextField="insc_name" DataValueField="insc_id" data-rel="chosen" CssClass="select2-me input-xlarge">
</asp:DropDownList>
