﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ucPosMaster.ascx.cs" Inherits="UserControl_GeneralControl_ucPosMaster" %>
<asp:DropDownList ID="ddlpos" runat="server" DataTextField="pos_place" DataValueField="pos_code"  data-rel="chosen" CssClass="select2-me input-xlarge">
</asp:DropDownList>