﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ucProcedureMaster.ascx.cs" Inherits="UserControl_GeneralControl_ucProcedureMaster" %>

<asp:DropDownList ID="ddlProcedure" runat="server" data-rel="chosen" CssClass="select2-me input-xlarge">
</asp:DropDownList>
