﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ucStaticMaster.ascx.cs" Inherits="UserControl_GeneralControl_ucStaticMaster" %>
<asp:DropDownList ID="ddlStatic" runat="server" DataTextField="stm_name" DataValueField="stm_value"  data-rel="chosen" CssClass="select2-me input-large">
</asp:DropDownList>