﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ucZipMaster.ascx.cs" Inherits="UserControl_GeneralControl_ucZipMaster" %>
<asp:DropDownList ID="ddlZipmaster" runat="server" DataTextField="zip_name" DataValueField="zip_id" data-rel="chosen">
</asp:DropDownList>