﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="MyAssesment.aspx.cs" Inherits="Client_Assessments_MyAssesment" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphead" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cpMainContent" runat="Server">
    <div class="row-fluid">
        <div class="span12">
            <div class="box box-bordered box-color">
                <div class="box-title">
                    <h3><i class="glyphicon-notes"></i>
                        My Assesment
                    </h3>
                </div>
                <div class="box-content" style="text-align: center">
                    <%--<h3>Congratulation ..!!!</h3>--%>
                    <h4>Your assessment is completed </h4>
                    <%--<h4>Click <a href="#">Here</a> to complete your informed consent .</h4>--%>
                </div>
            </div>
        </div>
    </div>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="PageScripts" runat="Server">
</asp:Content>
