﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="DiagnosisCodeMasterAddEdit.aspx.cs" Inherits="Master_DiagnosisCodeAddEdit" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphLeftBar" runat="Server">
    <div class="subnav">
        <div class="subnav-title">
            <a href="#" class='toggle-subnav'><i class="icon-angle-down"></i><span>Actions</span></a>
        </div>
        <ul class="subnav-menu">
            <li>
                <asp:HyperLink ID="lnkmaster" runat="server" NavigateUrl="~/Master/DiagnosisCodeMaster.aspx"><i class="icon-retweet"></i>&nbsp;Dignosis Code Master</asp:HyperLink>
            </li>
        </ul>
    </div>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <div class="row-fluid">
        <div class="span12">
            <div class="alert alert-info" id="msgdiv" runat="server" visible="false">
                <button class="close" data-dismiss="alert" type="button">×</button>
                <asp:Label ID="lblmessage" runat="server" ForeColor="Red" Font-Bold="true"></asp:Label>
            </div>
            <div class="box box-bordered box-color">
                <div class="box-title">
                    <h3><i class="icon-edit"></i>Code Add/Edit</h3>
                </div>
                <div class="box-content nopadding">
                    <div class="form-horizontal form-bordered">
                        <%-- <% if (User.IsInRole("administrator"))
                           { %>
                        <div class="control-group">
                            <label for="textfield" class="control-label">Creater</label>
                            <div class="controls">
                                <asp:DropDownList ID="ddlSelectMember" runat="server" CssClass="select2-me input-xlarge"></asp:DropDownList>
                                <span class="help-block">Select Creater for whom Workbook Is created</span>
                            </div>
                        </div>
                        <%} %>--%>
                        <div class="control-group">
                            <label for="txtcode" class="control-label">Code</label>
                            <div class="controls">
                                <asp:TextBox ID="txtcode" runat="server" CssClass="input-large"></asp:TextBox>
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="txtdescription" class="control-label">Description</label>
                            <div class="controls">
                                <asp:TextBox ID="txtdescription" runat="server" TextMode="MultiLine"></asp:TextBox>
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="txtpos" class="control-label">Type</label>
                            <div class="controls">
                                <asp:DropDownList ID="ddlType" runat="server" CssClass="select2-me input-large">
                                    <asp:ListItem Value="ICD-9">ICD-9</asp:ListItem>
                                    <asp:ListItem Value="ICD-10">ICD-10</asp:ListItem>
                                </asp:DropDownList>
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="txtmoda" class="control-label">Terminate Date</label>
                            <div class="controls">
                                <asp:TextBox ID="txttermdate" runat="server" CssClass="input-large datepick"></asp:TextBox>
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="txtmoda" class="control-label">HCC</label>
                           <div class="controls">
                                <div class="check-line">
                                    <asp:CheckBox ID="chkhcc" runat="server" CssClass='icheck-me' data-skin="square" data-color="blue" />
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="txtmoda" class="control-label">Is Billable</label>
                            <div class="controls">
                                <div class="check-line">
                                    <asp:CheckBox ID="chkpayble" runat="server" CssClass='icheck-me' data-skin="square" data-color="blue" />
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <asp:LinkButton ID="cmdSave" runat="server" CssClass="btn btn-primary" OnClick="cmdSave_Click"><i class="icon-ok"></i> Save</asp:LinkButton>
                            <asp:LinkButton ID="cmdCancel" runat="server" CssClass="btn" OnClick="cmdCancel_Click"><i class="icon-remove"></i> Cancel</asp:LinkButton>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="PageScripts" runat="Server">
</asp:Content>

