﻿.shadow_left_right {
    -webkit-box-shadow: 4px 0 2px -1px #B7B7B7, -4px 0 2px -1px #B7B7B7;
    -moz-box-shadow: 4px 0 2px -1px #B7B7B7, -4px 0 2px -1px #B7B7B7;
    box-shadow: 4px 0 2px -1px #B7B7B7, -4px 0 2px -1px #B7B7B7;
}

.shadow_top {
    -webkit-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.75);
}

.shadow_bottom {
    -webkit-box-shadow: 0px 2px 3px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 2px 3px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 2px 3px rgba(50, 50, 50, 0.75);
}

.dvbottombackgound {
    background: #565656; /* Old browsers */
}

.spanlogin {
    background: #fff;
    border:1px solid #0072D6;
}
    .spanlogin .wrapper {
        width: 350px;
        height: 330px;
        margin :auto;
    }

        .spanlogin .wrapper h1 > a {
            color: #fff;
            display: block;
            font-weight: 300;
            font-size: 48px;
            text-align: center;
            padding: 2px 0;
            text-decoration: none;
        }

        .spanlogin .wrapper .login-body
        {
            margin:auto 20px;
            background: #fff;
        }
        .spanlogin .wrapper .login-body form
            {
                padding: 0 30px;
            }

         .spanlogin .wrapper .login-body h2
            {
                font-weight: 300;
                color: #333;
                font-size: 24px;
                padding: 15px 30px 5px 0px;
            }
          .spanlogin .wrapper .login-body .email input, .login .wrapper .login-body .pw input
            {
                padding: 8px 12px;
                height: 35px;
            }

            .spanlogin .wrapper .login-body .submit
            {
                margin-top: 8px;
                *zoom: 1;
            }
             .spanlogin .wrapper .login-body .submit input
                {
                    float: right;
                }
                .spanlogin .wrapper .login-body .msg {
                    float: left;
                }
               .spanlogin .wrapper .login-body .forget
            {
                margin-top: 50px;
            }

                .spanlogin .wrapper .login-body .forget a
                {
                    background: #eee;
                    padding: 4px 0;
                    text-align: center;
                    display: block;
                    text-decoration: none;
                    color: #555;
                }

                    .spanlogin .wrapper .login-body .forget a:hover
                    {
                        background: #ddd;
                    }

                    .spanlogin .wrapper .login-body .forget a span
                    {
                        line-height: 30px;
                        margin-bottom: 10px;
                        position: relative;
                    }