﻿
.connected, .sortable, .exclude, .handles {
    margin: auto;
    padding: 0;
    width: 310px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .sortable.grid {
        overflow: hidden;
    }

    .connected li, .sortable li, .exclude li, .handles li {
        list-style: none;
        border: 1px solid #CCC;
        background: #368EE0;
        font-family: "Tahoma";
        color: #FFFFFF;
        margin: 5px;
        padding: 5px;
        height: 22px;
        font-weight:bold;
    }

    .handles span {
        cursor: move;
    }

li.disabled {
    opacity: 0.5;
}

.sortable.grid li {
    line-height: 80px;
    float: left;
    width: 80px;
    height: 80px;
    text-align: center;
}

li.highlight {
    background: #FEE25F;
}

#connected {
    width: 440px;
    overflow: hidden;
    margin: auto;
    display: block;
    border: 1px solid red;
}

.connected {
    width: 100%;
    display: block;
    border: 1px solid black;
}

    .connected.no2 {
    }

li.sortable-placeholder {
    border: 1px dashed #CCC;
    background: none;
}
