﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPageOuter.master.cs" Inherits="MasterPageOuter" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Apple devices fullscreen -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Apple devices fullscreen -->
    <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <title>SIZZLING HOT PRACTIS ADMIN</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <!-- Bootstrap responsive -->
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
    <!-- jQuery UI -->
    <link rel="stylesheet" href="css/plugins/jquery-ui/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="css/plugins/jquery-ui/smoothness/jquery.ui.theme.css" />
    <!-- PageGuide -->
    <link rel="stylesheet" href="css/plugins/pageguide/pageguide.css" />
    <!-- chosen -->
    <link rel="stylesheet" href="css/plugins/chosen/chosen.css" />
    <!-- select2 -->
    <link rel="stylesheet" href="css/plugins/select2/select2.css" />


    <!-- Fullcalendar -->
    <link rel="stylesheet" href="css/plugins/fullcalendar/fullcalendar.css" />
    <link rel="stylesheet" href="css/plugins/fullcalendar/fullcalendar.print.css" media="print" />
    <!-- Tagsinput -->
    <link rel="stylesheet" href="css/plugins/tagsinput/jquery.tagsinput.css" />
    <!-- multi select -->
    <link rel="stylesheet" href="css/plugins/multiselect/multi-select.css" />
    <!-- timepicker -->
    <link rel="stylesheet" href="css/plugins/timepicker/bootstrap-timepicker.min.css" />
    <!-- colorpicker -->
    <link rel="stylesheet" href="css/plugins/colorpicker/colorpicker.css" />
    <!-- Datepicker -->
    <link rel="stylesheet" href="css/plugins/datepicker/datepicker.css" />
    <!-- Daterangepicker -->
    <link rel="stylesheet" href="css/plugins/daterangepicker/daterangepicker.css" />
    <!-- Plupload -->
    <link rel="stylesheet" href="css/plugins/plupload/jquery.plupload.queue.css" />

    <!-- icheck -->
    <link rel="stylesheet" href="css/plugins/icheck/all.css" />
    <!-- Theme CSS -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- Color CSS -->
    <link rel="stylesheet" href="css/themes.css" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico" />
    <!-- Apple devices Homescreen icon -->
    <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-precomposed.png" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div id="navigation" style="width: 100%;">
            <div class="container-fluid">
                <a href="../Default.aspx" id="brand">SizzPro</a>
                <a href="#" class="toggle-nav" rel="tooltip" data-placement="bottom" title="Toggle navigation"><i class="icon-reorder"></i></a>
            </div>
        </div>

        <div class="container-fluid" id="content">
            <div id="left">
                <%--<div class="search-form">
                    <div class="search-pane">
                        <input type="text" name="search" placeholder="Search here...">
                        <button type="submit"><i class="icon-search"></i></button>
                    </div>
                </div>--%>
                <div class="subnav">
                    <div class="subnav-title">
                        <a href="#" class='toggle-subnav'><i class="icon-angle-down"></i><span>Home</span></a>
                    </div>
                    <ul class="subnav-menu">
                        <li>
                            <a href="../Default.aspx">Login</a>
                        </li>
                    </ul>
                </div>
                <asp:ContentPlaceHolder ID="cphLeftBar" runat="server">
                </asp:ContentPlaceHolder>
            </div>
            <div id="main">
                <div class="container-fluid">
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                    </asp:ContentPlaceHolder>
                </div>
            </div>
        </div>



    </form>
    <!-- jQuery -->
    <script src='<%= Page.ResolveClientUrl("~/js/jquery.min.js") %>'></script>
    <!-- Nice Scroll -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/nicescroll/jquery.nicescroll.min.js") %>'></script>
    <!-- jQuery UI -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/jquery-ui/jquery.ui.core.min.js") %>'></script>
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/jquery-ui/jquery.ui.widget.min.js") %>'></script>
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/jquery-ui/jquery.ui.mouse.min.js") %>'></script>
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/jquery-ui/jquery.ui.draggable.min.js") %>'></script>
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/jquery-ui/jquery.ui.resizable.min.js") %>'></script>
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/jquery-ui/jquery.ui.sortable.min.js") %>'></script>
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/jquery-ui/jquery.ui.spinner.js") %>'></script>
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/jquery-ui/jquery.ui.slider.js") %>'></script>
    <!-- Touch enable for jquery UI -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/touch-punch/jquery.touch-punch.min.js") %>'></script>
    <!-- slimScroll -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/slimscroll/jquery.slimscroll.min.js") %>'></script>
    <!-- Bootstrap -->
    <script src='<%= Page.ResolveClientUrl("~/js/bootstrap.min.js") %>'></script>
    <!-- vmap -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/vmap/jquery.vmap.min.js") %>'></script>
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/vmap/jquery.vmap.world.js") %>'></script>
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/vmap/jquery.vmap.sampledata.js") %>'></script>
    <!-- Bootbox -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/bootbox/jquery.bootbox.js") %>'></script>
    <!-- Flot -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/flot/jquery.flot.min.js") %>'></script>
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/flot/jquery.flot.bar.order.min.js") %>'></script>
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/flot/jquery.flot.pie.min.js") %>'></script>
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/flot/jquery.flot.resize.min.js") %>'></script>
    <!-- imagesLoaded -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/imagesLoaded/jquery.imagesloaded.min.js") %>'></script>
    <!-- PageGuide -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/pageguide/jquery.pageguide.js") %>'></script>
    <!-- FullCalendar -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/fullcalendar/fullcalendar.min.js") %>'></script>
    <!-- Chosen -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/chosen/chosen.jquery.min.js") %>'></script>
    <!-- select2 -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/select2/select2.min.js") %>'></script>
    <!-- icheck -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/icheck/jquery.icheck.min.js") %>'></script>
    <!-- dataTables -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/datatable/jquery.dataTables.min.js") %>'></script>
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/datatable/TableTools.min.js") %>'></script>
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/datatable/ColReorderWithResize.js") %>'></script>
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/datatable/ColVis.min.js") %>'></script>
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/datatable/jquery.dataTables.columnFilter.js") %>'></script>
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/datatable/jquery.dataTables.grouping.js") %>'></script>
    <!-- Theme framework -->
    <script src='<%= Page.ResolveClientUrl("~/js/eakroko.min.js") %>'></script>
    <!-- Theme scripts -->
    <script src='<%= Page.ResolveClientUrl("~/js/application.min.js") %>'></script>

    <!-- Masked inputs -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/maskedinput/jquery.maskedinput.min.js") %>'></script>
    <!-- TagsInput -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/tagsinput/jquery.tagsinput.min.js") %>'></script>
    <!-- FullCalendar -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/fullcalendar/fullcalendar.min.js") %>'></script>
    <!-- Datepicker -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/datepicker/bootstrap-datepicker.js") %>'></script>
    <!-- Daterangepicker -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/daterangepicker/daterangepicker.js") %>'></script>
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/daterangepicker/moment.min.js") %>'></script>
    <!-- Timepicker -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/timepicker/bootstrap-timepicker.min.js") %>'></script>
    <!-- Colorpicker -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/colorpicker/bootstrap-colorpicker.js") %>'></script>
    <!-- MultiSelect -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/multiselect/jquery.multi-select.js") %>'></script>

    <!-- CKEditor -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/ckeditor/ckeditor.js") %>'></script>
    <!-- PLUpload -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/plupload/plupload.full.js") %>'></script>
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/plupload/jquery.plupload.queue.js") %>'></script>
    <!-- Custom file upload -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/fileupload/bootstrap-fileupload.min.js") %>'></script>
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/mockjax/jquery.mockjax.js") %>'></script>
    <!-- complexify -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/complexify/jquery.complexify-banlist.min.js") %>'></script>
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/complexify/jquery.complexify.min.js") %>'></script>
    <!-- Mockjax -->
    <script src='<%= Page.ResolveClientUrl("~/js/plugins/mockjax/jquery.mockjax.js") %>'></script>
    <asp:ContentPlaceHolder ID="PageScripts" runat="server">
    </asp:ContentPlaceHolder>
</body>
</html>
