﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPageSite.master" AutoEventWireup="true" CodeFile="Polices.aspx.cs" Inherits="Polices" %>

<asp:Content ID="Content1" ContentPlaceHolderID="cphead" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cpMainContent" runat="Server">
    <div class="row-fluid" style="border: 1px solid #0072D6;">
        <div class="span12" style="padding: 15px;">
            <%--<asp:Literal ID="ltrPageBody" runat="server"></asp:Literal>--%>
            <h3 style="text-align: center">End User License Agreement</h3>
            <p>
                These Terms of Service are a legal  agreement (the &ldquo;Agreement&rdquo;) between you (either an individual or a legal  entity) and SizzPRO, Corp (&ldquo;SizzPRO&rdquo;) that governs your use of the SizzPRO  online computer software and associated documentation (the &ldquo;Software&rdquo;).<br>
                <strong>SOFTWARE  ACCESS.</strong>&nbsp;Subject to  the terms and conditions of this Agreement, SizzPRO will permit you to access  and use the Software via the Internet at <a href="https://www.empathic.com/" target="_blank">www.SizzPRO.com</a>.  The Software is accessed through the Internet and SizzPRO assumes no  responsibility for your ability to access the Internet. SizzPRO will seek to  have the Software available 95% of the time, excluding: (a)&nbsp;scheduled  maintenance; (b)&nbsp;emergency maintenance that must by its nature only be  conducted outside the scheduled maintenance window; (c)&nbsp;downtime caused by  any unauthorized use of the Software by Customer; and (d)&nbsp;circumstances  beyond SizzPRO&rsquo;s reasonable control.
            </p>
            <p><strong>FEES.</strong>&nbsp;You agree to pay the subscription fees set  forth on the web site from which the Software is accessed, for the term  selected by you. Fees will be debited against the credit card account that you  provide. If payment is denied, SizzPRO will notify you and seek an alternative  credit card. If you fail to pay fees due within 48 hours of notification of  non-payment, you will lose the ability to enter data into the system and this  Agreement may be terminated by SizzPRO. You will have read and print only  access to your office for 7 days. Service will be reinstated for a $100  reinstatement fee in addition to past due fees.</p>
            <p><strong>PROPRIETARY  RIGHTS.</strong>&nbsp;All  intellectual property rights in the Software are and shall remain the exclusive  property of SizzPRO and/or its licensors. The Software in both object code and  source code form includes valuable trade secret information and is protected by  copyright laws and international copyright treaties. Nothing in this Agreement  intends to transfer any intellectual property rights to you. You are only entitled  to the limited use of the intellectual property rights granted to you in this  Agreement. You will not take any action to jeopardize, limit or interfere with SizzPRO&rsquo;s  intellectual property rights.</p>
            <p><strong>RESTRICTIONS  ON USE.</strong>&nbsp;Access is  only for your own clinical practice. You may not provide third parties with  access to the Software or make any copies of the Software. You may not reverse  engineer, decompile, or disassemble the Software or otherwise attempt to gain  access to the source code for the Software. You may not rent, lease, sell,  sublicense, lend or otherwise transfer or assign your rights or obligations  under this Agreement to any person or entity. SizzPRO reserves all rights not  expressly granted under this Agreement.</p>
            <p><strong>TERMINATION.</strong>&nbsp;You may terminate this Agreement and your  subscription to the Software for any reason by requesting termination in the  &ldquo;Manage My Account&rdquo; section of the web site. Upon such notice, your termination  will become effective at the next payment date. Once terminated, you will no longer  be able to enter new data into the Software and your username and password will  allow you read-only access and printing of clinical notes for the Software for  7 days, after which time, you will no longer have access to the Software in any  capacity. If you violate the terms of this Agreement, SizzPRO may terminate  this Agreement and your rights to access and use the Software immediately.</p>
            <p><strong>CONFIDENTIALITY.</strong>&nbsp;To the extent that data that you enter into  the Software is protected health information, that information is governed by  the&nbsp;<a href="#subassociate">HIPAA  Business Associate Agreement&nbsp;</a>between SizzPRO and you. Any other  personal, business, technical or financial information that either you or SizzPRO  share with the other shall be considered confidential information  (&ldquo;Confidential Information&rdquo;). Each party will: (a) only use the other party&rsquo;s  Confidential Information as expressly permitted in this Agreement; (b) protect  the other&rsquo;s Confidential Information from unauthorized use or disclosure using  at least reasonable care; and (c)&nbsp;not disclose to any third party the  other party&rsquo;s Confidential Information except to those employees (and in SizzPRO&rsquo;s  case, subcontractors and agents) who have a need to know and who are subject to  obligations of confidentiality similar to this section. This Agreement will not  prevent either party from disclosing the other party&rsquo;s Confidential Information  to the extent required by a judicial order or other legal obligation, provided  that the receiving party shall promptly notify the other party in writing and  in advance of such disclosure to provide the other party the opportunity to  contest or minimize the scope of disclosure. The obligations and restrictions  contained in this section shall not apply to information: (a)&nbsp;which is now  or subsequently becomes publicly available other than by breach of this  Agreement; (b)&nbsp;which was already in the recipient&rsquo;s possession and at its  free disposal at the time of disclosure and was not obtained directly or  indirectly from discloser; (c)&nbsp;which is independently developed by the  recipient without use of the other party&rsquo;s Confidential Information; or (d)  which is de-identified in compliance with HIPAA.</p>
            <p><strong>NO  WARRANTY.</strong>&nbsp;SIZZPRO  DISCLAIMS ALL WARRANTIES, EXPRESS, IMPLIED AND STATUTORY, INCLUDING WITHOUT  LIMITATION, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR  PURPOSE, TITLE AND NON-INFRINGEMENT OF THIRD PARTY RIGHTS WITH RESPECT TO THE  SOFTWARE PRODUCT. SIZZPRO DOES NOT WARRANT THAT THE SOFTWARE PRODUCT IS  ERROR-FREE OR THAT ACCESS TO THE SOFTWARE PRODUCT WILL BE UNINTERRUPTED. YOU  ACKNOWLEDGE AND AGREE THAT YOUR USE OF THE SOFTWARE PRODUCT IS &quot;AS  IS.&quot;</p>
            <p><strong>LIMITATION  OF LIABILITY.</strong>&nbsp;SIZZPRO IS  NOT LIABLE FOR ANY SPECIAL, INCIDENTAL, INDIRECT, OR CONSEQUENTIAL DAMAGES  (INCLUDING, WITHOUT LIMITATION, DAMAGES FOR PERSONAL INJURY, LOSS OF BUSINESS  PROFITS, BUSINESS INTERRUPTION, LOSS BUSINESS OR CONFIDENTIAL INFORMATION, LOSS  OF PRIVACY, OR ANY OTHER PECUNIARY LOSS) ARISING OUT OF THE USE OF OR INABILITY  TO USE THE SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. IN ANY  CASE, SIZZPRO&rsquo;S ENTIRE LIABILITY IS LIMITED TO THE AMOUNTS ACTUALLY PAID BY YOU  FOR THE SOFTWARE.&nbsp;</p>
            <p><strong>GENERAL.</strong>&nbsp;This Agreement is governed by the laws of the  State of Alabama without regard to conflicts of law principles. All claims or  actions related to this Agreement must be brought in the state or federal  courts located in Madison County, Alabama. If any court or competent  jurisdiction holds any provision of this Agreement invalid or unenforceable,  the other provisions of this Agreement remain in full force and effect. Any  provision of this Agreement held invalid or unenforceable only in part or  degree remains in full force and effect to the extent not held invalid or  unenforceable. This Agreement contains the entire agreement and understanding  of the parties concerning the subject matter of this Agreement. The waiver or  failure of either party to exercise in any respect any right provided for in  this Agreement shall not be deemed a waiver of any further right under this  Agreement.</p>
            <h3 style="text-align: center">Sub-Business  Associate Agreement</h3>
            <p>This  Sub-Business Associate Agreement (&ldquo;Agreement&rdquo;) is entered into and effective as  of [<strong>09/24/2010]</strong>&nbsp;(the  &ldquo;Effective Date&rdquo;) by and between SizzPRO Corp (&ldquo;SizzPRO&rdquo;) and&nbsp;[<strong>JC  Enterprise Group, Inc.]</strong>&nbsp;(the  &ldquo;Sub-Business Associate&rdquo;), (individually, &ldquo;Party&rdquo; and collectively, &ldquo;Parties&rdquo;).</p>
            <h5 align="center">WITNESS: </h5>
            <p>
                WHEREAS, Sections 261 through 264  of the federal Health Insurance Portability and Accountability Act of 1996,  Public Law 104-191, (&ldquo;HIPAA&rdquo; or &ldquo;the Administrative Simplification  provisions,&rdquo;) direct the Department of Health and Human Services (&ldquo;HHS&rdquo;) to  develop standards to protect the security, confidentiality and integrity of  health information; and<br>
                WHEREAS, pursuant to the  Administrative Simplification provisions, the Secretary of HHS has issued  regulations at 45 CFR Parts 160 and 164 (&ldquo;HIPAA Security and Privacy Rule&rdquo;),  including the Security Standards for the Protection of Electronic Health  Information at 45 CFR Parts 160 and 164 (such regulations referred to collectively  herein as the &ldquo;Regulations&rdquo;); and<br>
                WHEREAS, the Parties have entered  into an arrangement whereby Sub-Business Associate will provide certain  services to SizzPRO, and, pursuant to such arrangement (&ldquo;Services Arrangement&rdquo;)  and the Regulations, SizzPRO is obligated to ensure that Sub-Business Associate  satisfies certain requirements that are applicable to parties that are  considered a &ldquo;business associate&rdquo; as defined in the Regulations; and<br>
                WHEREAS, Sub-Business Associate  has access to Protected Health Information (as defined below) in fulfilling its  responsibilities under such Services Arrangement and Sub-Business Associate  desires to enter into this Agreement to document its commitment to comply with  certain provisions of the Regulations, as described herein.<br>
                THEREFORE, in consideration of the  Parties&rsquo; continuing obligations under the Services Arrangement, compliance with  the Regulations, and other good and valuable consideration, the receipt and  sufficiency of which is hereby acknowledged, the Parties agree to the  provisions of this Agreement in order to address the requirements of the  Regulations and to protect the interests of both Parties.
            </p>
            <h5>I. DEFINITIONS</h5>
            <p>
                Except as otherwise defined  herein, any and all capitalized terms in this Section shall have the definitions  set forth in the Regulations. In the event of an inconsistency between the  provisions of this Agreement and mandatory provisions of the Regulations, as  amended, the Regulations shall control.<br>
                The term &ldquo;Protected Health  Information&rdquo; (&ldquo;PHI&rdquo;) means individually identifiable health information  including, without limitation, all information, data, documentation, and  materials, including without limitation, demographic, medical and financial  information, that relates to the past, present, or future physical or mental  health or condition of an individual; the provision of health care to an  individual; or the past, present, or future payment for the provision of health  care to an individual; and that identifies the individual or with respect to  which there is a reasonable basis to believe the information can be used to  identify the individual. &ldquo;PHI&rdquo; includes without limitation &ldquo;Electronic  Protected Health Information&rdquo; (&ldquo;Electronic PHI&rdquo;) as such term is defined in the  Regulations.<br>
                The services provided by Sub-Business  Associate to SizzPRO under the Services Arrangement require that Sub-Business  Associate may be given access to PHI. Sub-Business Associate acknowledges and  agrees that all PHI that is created or received by SizzPRO, or created or  received by a client of SizzPRO, and disclosed or made available in any form,  including paper record, oral communication, audio recording, and electronic  display by SizzPRO to Sub-Business Associate or is created or received by  Sub-Business Associate on SizzPRO&rsquo;s behalf shall be subject to this Agreement.  This Agreement shall commence upon the Effective Date and shall continue as  long as Sub-Business Associate has use, custody or access to PHI subject to  this Agreement, and thereafter for the period required by the Regulations.
            </p>
            <h5>II. CONFIDENTIALITY AND SECURITY REQUIREMENTS</h5>
            <ol>
                <li>Sub-Business  Associate agrees: to use or disclose any PHI solely: (1) to meet its  obligations to SizzPRO as set forth in the Services Arrangement, (2) as  required by applicable law, rule or regulation, or by accrediting or  credentialing organizations to whom SizzPRO is required to disclose such  information or as otherwise permitted under this Agreement, the Services  Arrangement (if consistent with this Agreement and the Regulations), or the  Regulations, and (3) as would be permitted by the Regulations if such use or  disclosure were made by SizzPRO or a client of SizzPRO that is a Covered  Entity;</li>
                <li>at  termination of this Agreement, the Services Arrangement or upon request of SizzPRO,  whichever occurs first, if feasible, Sub-Business Associate will return or  destroy all PHI received from or created or received by Sub-Business Associate  on behalf of SizzPRO that Sub-Business Associate still maintains in any form  and retain no copies of such information, or if such return or destruction is  not feasible, Sub-Business Associate will extend the protections of this  Agreement to the information and limit further uses and disclosures to those  purposes that make the return or destruction of the information not feasible;  and</li>
                <li>to ensure  that its agents, including a subcontractor, to whom it provides PHI received  from or created by Sub-Business Associate on behalf of SizzPRO, enters into an  agreement with Sub-Business Associate containing the same restrictions and  conditions that apply through this Agreement to Sub-Business Associate with  respect to such information, and agrees to implement reasonable and appropriate  safeguards to protect any of such information which is Electronic PHI. In  addition, Sub-Business Associate agrees to take reasonable steps to ensure that  its employees&rsquo; or contractors&rsquo; actions or omissions do not cause Sub-Business  Associate to breach the terms of this Agreement.</li>
                <li>Notwithstanding  the prohibitions set forth in this Agreement, Sub-Business Associate may use  and disclose PHI as follows:</li>
                <li>if  necessary, for the proper management and administration of Sub-Business  Associate or to carry out the legal responsibilities of Sub-Business Associate,  provided that as to any such disclosure, the following requirements are met:</li>
                <ol>
                    <ol>
                        <li>The  disclosure is required by law; or</li>
                        <li>Sub-Business  Associate obtains reasonable assurances from the person to whom the information  is disclosed that it will be held confidentially and used or further disclosed  only as required by law or for the purpose for which it was disclosed to the  person, and the person notifies Sub-Business Associate of any instances of  which it is aware in which the confidentiality of the information has been  breached;</li>
                    </ol>
                    <li>for data  aggregation services, if to be provided by Sub-Business Associate for the  health care operations of SizzPRO or other Covered Entities, pursuant to any  agreements between the Parties evidencing their business relationship and in  accordance with HIPAA, the Regulations, and the provisions of the Health  Information Technology for Economic and Clinical Health (&ldquo;HITECH&rdquo;) Act and any  regulations promulgated thereunder. For purposes of this Agreement, data  aggregation services means the combining of PHI by Sub-Business Associate with  the PHI received by Sub-Business Associate in its capacity as a business  associate of another covered entity, to permit data analyses that relate to the  health care operations of the respective covered entities.</li>
                </ol>
                <li>Sub-Business  Associate will implement appropriate safeguards to prevent use or disclosure of  PHI other than as permitted in this Agreement. Sub-Business Associate will  implement administrative, physical, and technical safeguards that reasonably  and appropriately protect the confidentiality, integrity, and availability of  any Electronic PHI that it creates, receives, maintains, or transmits on behalf  of SizzPRO as required by the Regulations.</li>
                <li>Sub-Business  Associate will comply with the requirements of Title XII, Subtitle D of the  HITECH Act, codified at 42 U.S.C. §§ 17921-17954, which are applicable to  business associates, and will comply with all regulations issued by HHS to  implement these referenced statutes, as of the date by which business  associates are required to comply with such referenced statutes and HHS regulations.</li>
                <li>Sub-Business  Associate agrees to make all internal practices, books and records relating to  its use and disclosure of PHI received from or created or received by  Sub-Business Associate on behalf of SizzPRO, available to the Secretary of HHS  as required by the Regulations, or any other entity or agency entitled thereto  by law, for purposes of determining SizzPRO&rsquo;s compliance with the Regulations.</li>
                <li>Sub-Business  Associate agrees to report to SizzPRO any use or disclosure of PHI not provided  for by this Agreement of which it becomes aware or any Security Incident or  Breach of which it becomes aware within five (5) days of date on which  Sub-Business Associate first discovers the use, disclosure of Security Incident  or Breach. In no event, shall the reporting of the disclosure, Security  Incident or Breach be later than that required for SizzPRO to provide  notification as required under the HITECH Act and any regulations promulgated  thereunder. All notifications of Breach provided by Sub-Business Associate to SizzPRO  will, to the extent possible, include the information specified in Section  13402 of the HITECH Act and codified at 42 U.S.C. § 17932. Sub-Business  Associate will indemnify SizzPRO for any reasonable expenses Covered Entity  incurs in notifying individuals of a breach caused by Sub-Business Associate or  its subcontractors or agents. In addition, Sub-Business Associate agrees to  mitigate, to the extent practicable, any harmful effect that is known to  Sub-Business Associate of a use or disclosure of PHI by Sub-Business Associate  that is in violation of this Agreement.</li>
            </ol>
            <h5>III. AVAILABILITY OF PHI</h5>
            <ol>
                <li><strong>Access to  Information</strong>. Within five&nbsp;(5) business days after a written request by SizzPRO  for access to PHI contained in a Designated Record Set held by Sub-Business Associate,  Sub-Business Associate shall provide to SizzPRO such information as needed to  fulfill SizzPRO&rsquo;s obligations under 45 C.F.R. § 164.524 (Access) and 45 C.F.R.  § 164.526 (Amendment), or any amendments thereto, for so long as it is  maintained in the Designated Record Set held by Sub-Business Associate. In the  event a request for access is delivered to Sub-Business Associate from a third  party, Sub-Business Associate shall, within two&nbsp;(2) business days, forward  such request to SizzPRO. Sub-Business Associate agrees to implement an  appropriate record-keeping process to enable it to comply with the requirements  of this provision.</li>
                <li><strong>Accounting of  Disclosures.</strong>&nbsp;Sub-Business  Associate agrees to document such disclosures of PHI and information related to  such disclosures as would be required for SizzPRO to respond to a request by an  Individual for an accounting of disclosures in accordance with 45 C.F.R. §  164.528. Within ten (10) business days after receipt of written notice by SizzPRO  to Sub-Business Associate for a request for an accounting of disclosures of  PHI, Sub-Business Associate shall provide to SizzPRO all information as is in  Sub-Business Associate&rsquo;s possession to permit SizzPRO to respond to a request  for an accounting of disclosures of PHI in accordance with 45 C.F.R. § 164.528.  To the extent Sub-Business Associate disclosed PHI in a manner requiring an  accounting of disclosures under 45 C.F.R. § 164.528, Sub-Business Associate  shall provide SizzPRO with the following information:</li>
                <ol>
                    <li>the date  of such disclosure(s);</li>
                    <li>the name  of the entity or person who received the PHI; and, if known, the address of  such entity or person;</li>
                    <li>a brief  description of the information disclosed; and</li>
                    <li>a brief  statement of the purpose of such disclosure, which includes an explanation of  the basis for such disclosure or a copy of the written request for such a  disclosure, if any.</li>
                </ol>
            </ol>
            <p>In the event a request for an  accounting is delivered to Sub-Business Associate from a third party,  Sub-Business Associate shall, within two&nbsp;(2) business days, forward such  request to SizzPRO. Sub-Business Associate agrees to implement an appropriate  record-keeping process to enable it to comply with the requirements of this  provision.</p>
            <h5>IV. TERMINATION</h5>
            <ol>
                <li><strong>Termination By SizzPRO.</strong>&nbsp;Notwithstanding any contrary termination  provision of any other agreement between the Parties, SizzPRO is authorized to  terminate this Agreement and the Services Arrangement as described in this  Section if SizzPRO determines that Sub-Business Associate has violated a  material term of this Agreement. Upon SizzPRO&rsquo;s knowledge of a material breach  of this Agreement by Sub-Business Associate, SizzPRO shall provide written  notice of such breach to Sub-Business Associate and provide an opportunity for  Sub-Business Associate to cure the breach or end the violation. If Sub-Business  Associate does not cure the breach or end the violation within the time  specified by SizzPRO, then SizzPRO may immediately terminate this Agreement and  the Services Arrangement; or SizzPRO may immediately terminate this Agreement  and the Services Arrangement if Sub-Business Associate has breached a material  term of this Agreement and SizzPRO determines that cure is not possible.</li>
                <li><strong>Termination By  Sub-Business Associate.</strong>&nbsp;Notwithstanding  any contrary termination provision of any other agreement between the Parties,  Sub-Business Associate is authorized to terminate this Agreement and the  Services Arrangement as described in this Section if Sub-Business Associate  determines that SizzPRO has violated a material term of this Agreement. Upon  Sub-Business Associate&rsquo;s knowledge of a material breach of this Agreement by SizzPRO,  Sub-Business Associate shall provide written notice of such breach to SizzPRO  and provide an opportunity for SizzPRO to cure the breach or end the violation.  If SizzPRO does not cure the breach or end the violation within the time  specified by Sub-Business Associate, then Sub-Business Associate may  immediately terminate this Agreement and the Services Arrangement; or  Sub-Business Associate may immediately terminate this Agreement and the  Services Arrangement if SizzPRO has breached a material term of this Agreement  and the Sub-Business Associate determines that cure is not possible.</li>
            </ol>
            <h5>V. MISCELLANEOUS</h5>
            <p>
                Except as expressly stated herein  or the Regulations, the Parties to this Agreement do not intend to create any  rights in any third parties. The obligations of Sub-Business Associate shall  survive the expiration, termination, or cancellation of this Agreement, the  Services Arrangement Agreement and/or the business relationship of the Parties,  and shall continue to bind Sub-Business Associate, its agents, employees,  contractors, successors, and assigns as set forth herein.<br>
                This Agreement may be amended or  modified only in a writing signed by the Parties. No Party may assign its  respective rights and obligations under this Agreement without the prior  written consent of the other Party. None of the provisions of this Agreement  are intended to create, nor will they be deemed to create any relationship  between the Parties other than that of independent parties contracting with  each other solely for the purposes of effecting the provisions of this  Agreement and any other agreements between the Parties evidencing their  business relationship. This Agreement will be governed by the laws of the State  of Minnesota. No change, waiver or discharge of any liability or obligation  hereunder on any one or more occasions shall be deemed a waiver of performance  of any continuing or other obligation, or shall prohibit enforcement of any  obligation, on any other occasion.<br>
                The Parties agree that, in the  event that any documentation of the Services Arrangement pursuant to which  Sub-Business Associate provides services to SizzPRO contains provisions  relating to the use or disclosure of PHI which are more restrictive than the  provisions of this Agreement, the provisions of the more restrictive  documentation will control. The provisions of this Agreement are intended to  establish the minimum requirements regarding Sub-Business Associate&rsquo;s use and  disclosure of PHI.<br>
                In the event that any provision of  this Agreement is held by a court of competent jurisdiction to be invalid or  unenforceable, the remainder of the provisions of this Agreement will remain in  full force and effect. In addition, in the event a party believes in good faith  that any provision of this Agreement fails to comply with the then-current  requirements of HIPAA and the Regulations and other applicable law, including  but not limited to the HITECH Act, such party shall notify the other party in  writing. For a period of up to thirty days, the parties shall address in good  faith such concern and amend the terms of this Agreement, if necessary to bring  it into compliance. If, after such thirty-day period, the Agreement fails to  comply with HIPAA and the Regulations and other applicable law, including but  not limited to the HITECH Act, then either party has the right to terminate  upon written notice to the other party.
            </p>
            <hr />
            <h4>PRIVACY STATEMENT</h4>
            <p><strong>SECTION 1</strong> - WHAT DO WE DO WITH YOUR INFORMATION?</p>
            <p>When you purchase something from our store, as part of the  buying and selling process, we collect the personal information you give us  such as your name, address and email address.</p>
            <p>When you browse our store, we also automatically receive  your computer&rsquo;s internet protocol (IP) address in order to provide us with  information that helps us learn about your browser and operating system.</p>
            <p>Email marketing (if applicable): With your permission, we  may send you emails about our store, new products and other updates.</p>
            <p><strong>SECTION 2 </strong>- CONSENT</p>
            <p>How do you get my consent?</p>
            <p>When you provide us with personal information to complete a  transaction, verify your credit card, place an order, arrange for a delivery or  return a purchase, we imply that you consent to our collecting it and using it  for that specific reason only.</p>
            <p>If we ask for your personal information for a secondary  reason, like marketing, we will either ask you directly for your expressed  consent, or provide you with an opportunity to say no.</p>
            <p>How do I withdraw my consent?</p>
            <p>If after you opt-in, you change your mind, you may withdraw  your consent for us to contact you, for the continued collection, use or  disclosure of your information, at anytime, by contacting us at <a href="mailto:admin@sizzpro.com">admin@sizzpro.com</a> or mailing us at: SizzPRO  Corp 1101 McMurtrie Drive NW Suite C4 Huntsville AL United States 35806</p>
            <p><strong>SECTION 3 </strong>- DISCLOSURE</p>
            <p>We may disclose your personal information if we are required  by law to do so or if you violate our Terms of Service.</p>
            <p><strong>SECTION 4</strong> - THIRD-PARTY SERVICES</p>
            <p>In general, the third-party providers used by us will only  collect, use and disclose your information to the extent necessary to allow  them to perform the services they provide to us.</p>
            <p>However, certain third-party service providers, such as  payment gateways and other payment transaction processors, have their own  privacy policies in respect to the information we are required to provide to  them for your purchase-related transactions.</p>
            <p>For these providers, we recommend that you read their  privacy policies so you can understand the manner in which your personal  information will be handled by these providers.</p>
            <p>In particular, remember that certain providers may be  located in or have facilities that are located a different jurisdiction than  either you or us. So if you elect to proceed with a transaction that involves  the services of a third-party service provider, then your information may  become subject to the laws of the jurisdiction(s) in which that service  provider or its facilities are located.</p>
            <p>As an example, if you are located in Canada and your  transaction is processed by a payment gateway located in the United States,  then your personal information used in completing that transaction may be  subject to disclosure under United States legislation, including the Patriot Act.</p>
            <p>Once you leave our store&rsquo;s website or are redirected to a  third-party website or application, you are no longer governed by this Privacy  Policy or our website&rsquo;s Terms of Service. </p>
            <p><strong>SECTION 5</strong> - LINKS</p>
            <p>When you click on links on our site, they may direct you  away from our site. We are not responsible for the privacy practices of other  sites and encourage you to read their privacy statements.</p>
            <p><strong>SECTION 6 </strong>- SECURITY</p>
            <p>To protect your personal information, we take reasonable  precautions and follow industry best practices to make sure it is not  inappropriately lost, misused, accessed, disclosed, altered or destroyed.</p>
            <p>If you provide us with your credit card information, the  information is encrypted using secure socket layer technology (SSL) and stored  with a AES-256 encryption.  Although no  method of transmission over the Internet or electronic storage is 100% secure,  we follow all PCI-DSS requirements and implement additional generally accepted  industry standards.</p>
            <p><strong>SECTION 7</strong> - COOKIES</p>
            <p>Here is a list of  cookies that we use. We&rsquo;ve listed them here so you that you can choose if you  want to opt-out of cookies or not.</p>
            <p>--</p>
            <p>--</p>
            <p><strong>SECTION 8</strong> - AGE OF CONSENT</p>
            <p>By using this site,  you represent that you are at least the age of majority in your state or  province of residence, or that you are the age of majority in your state or  province of residence and you have given us your consent to allow any of your  minor dependents to use this site.</p>
            <p><strong>SECTION 9 </strong>- CHANGES TO THIS PRIVACY POLICY</p>
            <p>We reserve the right to modify this privacy policy at any  time, so please review it frequently. Changes and clarifications will take  effect immediately upon their posting on the website. If we make material  changes to this policy, we will notify you here that it has been updated, so  that you are aware of what information we collect, how we use it, and under what  circumstances, if any, we use and/or disclose it.</p>
            <p>If our site is acquired or merged with another company,  your information may be transferred to the new owners so that we may continue  to sell products to you.</p>
            <p>QUESTIONS AND CONTACT INFORMATION</p>
            <p>If you would like to: access, correct, amend or delete any  personal information we have about you, register a complaint, or simply want  more information contact our Privacy Compliance Officer at  joefollette@gmail.com or by mail at SizzPRO Corp</p>
            <p>[Re: Privacy Compliance Officer]</p>
            <p>[1101 McMurtrie Drive NW Suite C4 Huntsville AL United  States 35806]</p>
            <hr />
            <h3 style="text-align: center">TERMS OF SERVICE</h3>
            <p>OVERVIEW</p>
            <p>This website is operated by SizzPRO Corp. Throughout the  site, the terms &ldquo;we&rdquo;, &ldquo;us&rdquo; and &ldquo;our&rdquo; refer to SizzPRO Corp. SizzPRO Corp offers  this website, including all information, tools and services available from this  site to you, the user, conditioned upon your acceptance of all terms,  conditions, policies and notices stated here.</p>
            <p>By visiting our site and/ or purchasing something from us,  you engage in our &ldquo;Service&rdquo; and agree to be bound by the following terms and  conditions (&ldquo;Terms of Service&rdquo;, &ldquo;Terms&rdquo;), including those additional terms and  conditions and policies referenced herein and/or available by hyperlink. These  Terms of Service apply  to all users of  the site, including without limitation users who are browsers, vendors,  customers, merchants, and/ or contributors of content.</p>
            <p>Please read these Terms of Service carefully before  accessing or using our website. By accessing or using any part of the site, you  agree to be bound by these Terms of Service. If you do not agree to all the  terms and conditions of this agreement, then you may not access the website or  use any services. If these Terms of Service are considered an offer, acceptance  is expressly limited to these Terms of Service.</p>
            <p>Any new features or tools which are added to the current  store shall also be subject to the Terms of Service. You can review the most  current version of the Terms of Service at any time on this page. We reserve  the right to update, change or replace any part of these Terms of Service by  posting updates and/or changes to our website. It is your responsibility to  check this page periodically for changes. Your continued use of or access to  the website following the posting of any changes constitutes acceptance of  those changes.</p>
            <p><strong>SECTION 1</strong> - SITE TERMS</p>
            <p>By agreeing to these Terms of Service, you represent that  you are at least the age of majority in your state or province of residence, or  that you are the age of majority in your state or province of residence and you  have given us your consent to allow any of your minor dependents to use this  site.</p>
            <p>You may not use our products for any illegal or unauthorized  purpose nor may you, in the use of the Service, violate any laws in your  jurisdiction (including but not limited to copyright laws).</p>
            <p>You must not transmit any worms or viruses or any code of a  destructive nature.</p>
            <p>A breach or violation of any of the Terms will result in an  immediate termination of your Services.</p>
            <p><strong>SECTION 2</strong> - GENERAL CONDITIONS</p>
            <p>We reserve the right to refuse service to anyone for any  reason at any time.</p>
            <p>You understand that your content (not including credit card  information), may be transferred unencrypted and involve (a) transmissions over  various networks; and (b) changes to conform and adapt to technical  requirements of connecting networks or devices. Credit card information is  always encrypted during transfer over networks.</p>
            <p>You agree not to reproduce, duplicate, copy, sell, resell or  exploit any portion of the Service, use of the Service, or access to the  Service or any contact on the website through which the service is provided,  without express written permission by us.</p>
            <p>The headings used in this agreement are included for  convenience only and will not limit or otherwise affect these Terms.</p>
            <p><strong>SECTION 3</strong> - ACCURACY, COMPLETENESS AND TIMELINESS OF  INFORMATION</p>
            <p>We are not responsible if information made available on this  site is not accurate, complete or current. The material on this site is  provided for general information only and should not be relied upon or used as  the sole basis for making decisions without consulting primary, more accurate,  more complete or more timely sources of information. Any reliance on the  material on this site is at your own risk.</p>
            <p>This site may contain certain historical information.  Historical information, necessarily, is not current and is provided for your  reference only. We reserve the right to modify the contents of this site at any  time, but we have no obligation to update any information on our site. You  agree that it is your responsibility to monitor changes to our site.</p>
            <p><strong>SECTION 4</strong> - MODIFICATIONS TO THE SERVICE AND PRICES</p>
            <p>Prices for our products are subject to change without  notice.</p>
            <p>We reserve the right at any time to modify or discontinue  the Service (or any part or content thereof) without notice at any time.</p>
            <p>We shall not be liable to you or to any third-party for any  modification, price change, suspension or discontinuance of the Service.</p>
            <p><strong>SECTION 5 </strong>- PRODUCTS OR SERVICES (if applicable)</p>
            <p>Certain products or services may be available exclusively  online through the website. These products or services may have limited  quantities and are subject to return or exchange only according to our Return  Policy.</p>
            <p>We reserve the right, but are not obligated, to limit the  sales of our products or Services to any person, geographic region or  jurisdiction. We may exercise this right on a case-by-case basis. We reserve  the right to limit the quantities of any products or services that we offer.  All descriptions of products or product pricing are subject to change at any  time without notice, at the sole discretion of us. We reserve the right to  discontinue any product or service at any time. Any offer for any product or service made  on this site is void where prohibited.</p>
            <p>We do not warrant that the quality of any products,  services, information, or other material purchased or obtained by you will meet  your expectations, or that any errors in the Service will be corrected.</p>
            <p><strong>SECTION 6</strong> - ACCURACY OF BILLING AND ACCOUNT INFORMATION</p>
            <p>We reserve the right to refuse any order you place with us.  We may, in our sole discretion, limit or cancel quantities purchased per  person, per household or per order. These restrictions may include orders  placed by or under the same customer account, the same credit card, and/or  orders that use the same billing and/or shipping address. In the event that we  make a change to or cancel an order, we may attempt to notify you by contacting  the e-mail and/or billing address/phone number provided at the time the order  was made. We reserve the right to limit or prohibit orders that, in our sole  judgment, appear to be placed by dealers, resellers or distributors.</p>
            <p>You agree to provide current, complete and accurate purchase  and account information for all purchases made at our store. You agree to  promptly update your account and other information, including your email  address and credit card numbers and expiration dates, so that we can complete  your transactions and contact you as needed.</p>
            <p>For more detail, please review our Returns Policy.</p>
            <p><strong>SECTION 7 </strong>- OPTIONAL TOOLS</p>
            <p>We may provide you with access to third-party tools over  which we neither monitor nor have any control nor input.</p>
            <p>You acknowledge and agree that we provide access to such  tools &rdquo;as is&rdquo; and &ldquo;as available&rdquo; without any warranties, representations or  conditions of any kind and without any endorsement. We shall have no liability  whatsoever arising from or relating to your use of optional third-party tools.</p>
            <p>Any use by you of optional tools offered through the site is  entirely at your own risk and discretion and you should ensure that you are  familiar with and approve of the terms on which tools are provided by the  relevant third-party provider(s).</p>
            <p>We may also, in the future, offer new services and/or  features through the website (including, the release of new tools and  resources). Such new features and/or services shall also be subject to these  Terms of Service.</p>
            <p><strong>SECTION 8 </strong>- THIRD-PARTY LINKS</p>
            <p>Certain content, products and services available via our  Service may include materials from third-parties.</p>
            <p>Third-party links on this site may direct you to third-party  websites that are not affiliated with us. We are not responsible for examining  or evaluating the content or accuracy and we do not warrant and will not have  any liability or responsibility for any third-party materials or websites, or  for any other materials, products, or services of third-parties.</p>
            <p>We are not liable for any harm or damages related to the  purchase or use of goods, services, resources, content, or any other  transactions made in connection with any third-party websites. Please review  carefully the third-party's policies and practices and make sure you understand  them before you engage in any transaction. Complaints, claims, concerns, or  questions regarding third-party products should be directed to the third-party.</p>
            <p><strong>SECTION 9 </strong>- USER COMMENTS, FEEDBACK AND OTHER SUBMISSIONS</p>
            <p>If, at our request, you send certain specific submissions  (for example contest entries) or without a request from us you send creative  ideas, suggestions, proposals, plans, or other materials, whether online, by  email, by postal mail, or otherwise (collectively, 'comments'), you agree that  we may, at any time, without restriction, edit, copy, publish, distribute,  translate and otherwise use in any medium any comments that you forward to us.  We are and shall be under no obligation (1) to maintain any comments in  confidence; (2) to pay compensation for any comments; or (3) to respond to any  comments. Other submissions includes pictures, videos and audio files.</p>
            <p>We may, but have no obligation to, monitor, edit or remove  content that we determine in our sole discretion are unlawful, offensive,  threatening, libelous, defamatory, pornographic, obscene or otherwise  objectionable or violates any party&rsquo;s intellectual property or these Terms of  Service.</p>
            <p>You agree that your comments will not violate any right of  any third-party, including copyright, trademark, privacy, personality or other  personal or proprietary right. You further agree that your comments will not  contain libelous or otherwise unlawful, abusive or obscene material, or contain  any computer virus or other malware that could in any way affect the operation  of the Service or any related website. You may not use a false e-mail address,  pretend to be someone other than yourself, or otherwise mislead us or  third-parties as to the origin of any comments. You are solely responsible for  any comments you make and their accuracy. We take no responsibility and assume  no liability for any comments posted by you or any third-party.</p>
            <p><strong>SECTION 10</strong> - PERSONAL INFORMATION</p>
            <p>Your submission of personal information through the site is  governed by our Privacy Policy. To view our Privacy Policy.</p>
            <p><strong>SECTION 11</strong> - ERRORS, INACCURACIES AND OMISSIONS</p>
            <p>Occasionally there may be information on our site or in the  Service that contains typographical errors, inaccuracies or omissions that may  relate to product descriptions, pricing, promotions, offers, product shipping  charges, transit times and availability. We reserve the right to correct any  errors, inaccuracies or omissions, and to change or update information or  cancel orders if any information in the Service or on any related website is  inaccurate at any time without prior notice (including after you have submitted  your order).</p>
            <p>We undertake no obligation to update, amend or clarify  information in the Service or on any related website, including without  limitation, pricing information, except as required by law. No specified update  or refresh date applied in the Service or on any related website, should be  taken to indicate that all information in the Service or on any related website  has been modified or updated.</p>
            <p><strong>SECTION 12</strong> - PROHIBITED USES</p>
            <p>In addition to other prohibitions as set forth in the Terms  of Service, you are prohibited from using the site or its content: (a) for any  unlawful purpose; (b) to solicit others to perform or participate in any  unlawful acts; (c) to violate any international, federal, provincial or state  regulations, rules, laws, or local ordinances; (d) to infringe upon or violate  our intellectual property rights or the intellectual property rights of others;  (e) to harass, abuse, insult, harm, defame, slander, disparage, intimidate, or  discriminate based on gender, sexual orientation, religion, ethnicity, race,  age, national origin, or disability; (f) to submit false or misleading  information; (g) to upload or transmit viruses or any other type of malicious  code that will or may be used in any way that will affect the functionality or  operation of the Service or of any related website, other websites, or the  Internet; (h) to collect or track the personal information of others; (i) to  spam, phish, pharm, pretext, spider, crawl, or scrape; (j) for any obscene or  immoral purpose; or (k) to interfere with or circumvent the security features  of the Service or any related website, other websites, or the Internet. We  reserve the right to terminate your use of the Service or any related website  for violating any of the prohibited uses.</p>
            <p><strong>SECTION 13</strong> - DISCLAIMER OF WARRANTIES; LIMITATION OF  LIABILITY</p>
            <p>We do not guarantee, represent or warrant that your use of  our service will be uninterrupted, timely, secure or error-free.</p>
            <p>We do not warrant that the results that may be obtained from  the use of the service will be accurate or reliable.</p>
            <p>You agree that from time to time we may remove the service  for indefinite periods of time or cancel the service at any time, without  notice to you.</p>
            <p>You expressly agree that your use of, or inability to use,  the service is at your sole risk. The service and all products and services  delivered to you through the service are (except as expressly stated by us)  provided 'as is' and 'as available' for your use, without any representation,  warranties or conditions of any kind, either express or implied, including all  implied warranties or conditions of merchantability, merchantable quality,  fitness for a particular purpose, durability, title, and non-infringement.</p>
            <p>In no case shall SizzPRO Corp, our directors, officers,  employees, affiliates, agents, contractors, interns, suppliers, service  providers or licensors be liable for any injury, loss, claim, or any direct,  indirect, incidental, punitive, special, or consequential damages of any kind,  including, without limitation lost profits, lost revenue, lost savings, loss of  data, replacement costs, or any similar damages, whether based in contract,  tort (including negligence), strict liability or otherwise, arising from your  use of any of the service or any products procured using the service, or for  any other claim related in any way to your use of the service or any product,  including, but not limited to, any errors or omissions in any content, or any  loss or damage of any kind incurred as a result of the use of the service or  any content (or product) posted, transmitted, or otherwise made available via  the service, even if advised of their possibility. Because some states or  jurisdictions do not allow the exclusion or the limitation of liability for  consequential or incidental damages, in such states or jurisdictions, our  liability shall be limited to the maximum extent permitted by law.</p>
            <p><strong>SECTION 14 </strong>- INDEMNIFICATION</p>
            <p>You agree to indemnify, defend and hold harmless SizzPRO  Corp and our parent, subsidiaries, affiliates, partners, officers, directors,  agents, contractors, licensors, service providers, subcontractors, suppliers,  interns and employees, harmless from any claim or demand, including reasonable  attorneys&rsquo; fees, made by any third-party due to or arising out of your breach  of these Terms of Service or the documents they incorporate by reference, or  your violation of any law or the rights of a third-party.</p>
            <p><strong>SECTION 15</strong> - SEVERABILITY</p>
            <p>In the event that any provision of these Terms of Service is  determined to be unlawful, void or unenforceable, such provision shall  nonetheless be enforceable to the fullest extent permitted by applicable law,  and the unenforceable portion shall be deemed to be severed from these Terms of  Service, such determination shall not affect the validity and enforceability of  any other remaining provisions.</p>
            <p><strong>SECTION 16</strong> - TERMINATION</p>
            <p>The obligations and liabilities of the parties incurred prior  to the termination date shall survive the termination of this agreement for all  purposes.</p>
            <p>These Terms of Service are effective unless and until  terminated by either you or us. You may terminate these Terms of Service at any  time by notifying us that you no longer wish to use our Services, or when you  cease using our site.</p>
            <p>If in our sole judgment you fail, or we suspect that you  have failed, to comply with any term or provision of these Terms of Service, we  also may terminate this agreement at any time without notice and you will  remain liable for all amounts due up to and including the date of termination;  and/or accordingly may deny you access to our Services (or any part thereof).</p>
            <p><strong>SECTION 17 </strong>- ENTIRE AGREEMENT</p>
            <p>The failure of us to exercise or enforce any right or  provision of these Terms of Service shall not constitute a waiver of such right  or provision.</p>
            <p>These Terms of Service and any policies or operating rules  posted by us on this site or in respect to The Service constitutes the entire  agreement and understanding between you and us and govern your use of the  Service, superseding any prior or contemporaneous agreements, communications  and proposals, whether oral or written, between you and us (including, but not  limited to, any prior versions of the Terms of Service).</p>
            <p>Any ambiguities in the interpretation of these Terms of  Service shall not be construed against the drafting party.</p>
            <p><strong>SECTION 18</strong> - GOVERNING LAW</p>
            <p>These Terms of Service and any separate agreements whereby  we provide you Services shall be governed by and construed in accordance with  the laws of 1101 McMurtrie Drive NW Suite C4 Huntsville AL United States 35806.</p>
            <p><strong>SECTION 19 </strong>- CHANGES TO TERMS OF SERVICE</p>
            <p>You can review the most current version of the Terms of  Service at any time at this page.</p>
            <p>We reserve the right, at our sole discretion, to update,  change or replace any part of these Terms of Service by posting updates and  changes to our website. It is your responsibility to check our website  periodically for changes. Your continued use of or access to our website or the  Service following the posting of any changes to these Terms of Service  constitutes acceptance of those changes.</p>
            <p><strong>SECTION 20</strong> - CONTACT INFORMATION</p>
            <p>Questions about the Terms of Service should be sent to us at  admin@sizzpro.com.</p>
        </div>
        <div class="span12" style="margin: auto; padding: 15px;">
            <a href="Default.aspx" class="btn btn-block">
                <h6>Home</h6>
            </a>
        </div>
    </div>
</asp:Content>

