﻿body, html
{
    font-family: Arial Verdana;
    font-size: small;
    margin: 0px;
    padding: 0px;
}

form
{
    margin: 0px;
    padding: 0px;
    width: 1000px;
}

.shadow
{
    -webkit-box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 3px rgba(50, 50, 50, 0.75);
}
