﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ucZipMaster.ascx.cs" Inherits="UserControl_GeneralControl_ucZipMaster" %>
<asp:DropDownList ID="ddlZipmaster" runat="server" DataTextField="zip_name" DataValueField="zip_id" CssClass="select2-me" data-rel="chosen" Width="200px">
</asp:DropDownList>