﻿.shadow_left_right {
    -webkit-box-shadow: 4px 0 2px -1px #B7B7B7, -4px 0 2px -1px #B7B7B7;
    -moz-box-shadow: 4px 0 2px -1px #B7B7B7, -4px 0 2px -1px #B7B7B7;
    box-shadow: 4px 0 2px -1px #B7B7B7, -4px 0 2px -1px #B7B7B7;
}

.shadow_top {
    -webkit-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.75);
}

.shadow_bottom {
    -webkit-box-shadow: 0px 2px 3px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 2px 3px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 2px 3px rgba(50, 50, 50, 0.75);
}

.dvbottombackgound {
    background: #565656; /* Old browsers */
}
