﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="UserProfileManagement.aspx.cs" Inherits="Users_UserProfileManagement" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphLeftBar" runat="Server">
    <%--<div class="subnav">
        <div class="subnav-title">
            <a href="#" class='toggle-subnav'><i class="icon-angle-down"></i><span>Actions</span></a>
        </div>
        <ul class="subnav-menu">
            <li>
                <asp:HyperLink ID="lnkPasswordChange" runat="server" Text="Change Password"></asp:HyperLink>
            </li>
            <li>
                <asp:HyperLink ID="lnkChangeMail" runat="server" Text="Change Email Address"></asp:HyperLink>
            </li>
            <li>
                <asp:HyperLink ID="lnkFamilyorigion" runat="server" Text="Family of Origion"></asp:HyperLink>
            </li>
            <li>
                <asp:HyperLink ID="lnkSibling" runat="server" Text="Siblings"></asp:HyperLink>
            </li>
            <li>
                <asp:HyperLink ID="lnkspouse" runat="server" Text="Spouse & Significant"></asp:HyperLink>
            </li>
              <li>
                <asp:HyperLink ID="lnkchildren" runat="server" Text="Children"></asp:HyperLink>
            </li>
        </ul>
    </div>--%>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
      <%--  <UC:UserProfile ID="ucProfileManagement" runat="server" />--%>
        <UC:AdminProfile ID="ucAdminProfile" runat="server" />    
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="PageScripts" runat="Server">
</asp:Content>

